<div *ngIf='this.type == "books"' style="text-align:center"class="container">
<p>Name:{{data.name}}</p>
<p>Isbn:{{data.isbn}}</p>
<p>Author:{{data.authors[0]}}</p>
<p>NumberOfPages:{{data.numberOfPages}}</p>
<p>Publisher:{{data.publisher}}</p>
<p>Country:{{data.country}}</p>
<p>MediaType:{{data.mediaType}}</p>
<p> Released:{{data.released | date}}</p>
  
</div>
<div *ngIf='this.type == "houses"' style="text-align:center"class="container">
    <p *ngIf="data.name.length!=0">Name:{{data.name}}</p>
    <p *ngIf="data.coatOfArms.length!=0">CoastOfArms:{{data.coatOfArms}}</p>
    <p *ngIf="data.founded.length!=0">Founded On:{{data.founded}}</p>
    <p *ngIf="data.region.length!=0">Region:{{data.region}}</p>
    <p *ngIf="data.seats.length!=0">Seats:{{data.seats[0]}}</p>
    <p *ngIf="data.titles.length!=0">Title:{{data.titles}}</p>
    <p *ngIf="data.words.length!=0">Word:{{data.words}}</p>
      
    </div>
    <div *ngIf='this.type == "characters"' style="text-align:center"class="container">
        <p *ngIf="data.name.length!=0">Name:{{data.name}}</p>
        <p *ngIf="data.aliases.length!=0">Aliases:{{data.aliases[0]}}</p>
        <p *ngIf="data.culture.length!=0">Culture:{{data.culture}}</p>
        <p *ngIf="data.gender.length!=0">Gender:{{data.gender}}</p>
        <p *ngIf="data.url.length!=0">url:{{data.url}}</p>
        <p *ngIf="data.titles.length!=0">Title:{{data.titles}}</p>
        <p *ngIf="data.tvSeries.length!=0">Tvseries:{{data.tvSeries}}</p>
          
        </div>