<div class="contianer">
<p style="text-align:center"> All rights resurved by Ansh Nagrath </p>
<p style="text-align:center"> Search tag works only for name of a particular book or house or character </p>
<p style="text-align:center"> Search will only work when you write things in accoding to the values in name key ie with proper spacing and with proper capitalization.. </p>
<p style="text-align:center"> Their is one more bug in the searching the items that if i copy paste the name in the input the submit button stays dissabled please do tell me how to do that </p>
</div>