<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"> -->
  <div class="container">
      <nav>
          <div class="nav nav-tabs navbar-fixed-top" id="#navbar" id="nav-tab" role="tablist">
            <a  class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"  role="tab" aria-controls="nav-home" aria-selected="true" ><h4 [routerLink]="['/view1']">Home</h4></a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><h4 [routerLink]="['/about']" >About</h4></a>
          </div>
        </nav>
        <br> <br><br><br>
 
          <router-outlet> </router-outlet>
 </div>
